<section class="container">
  <ul class="sidebar">
    <li class="mt-2">
      <img class="side-bar-icon" src="img/home.svg" alt="home" />
      <a class="sidebar-text" href="#">Inicio</a>
    </li>
    <li class="mt-2">
      <img class="side-bar-icon" src="img/glass.svg" alt="search" /><a class="sidebar-text" href="#"
        ><p class="d-none d-lg-block">Explorar</p></a
      >
    </li>
    <li class="mt-2">
      <img class="side-bar-icon" src="img/bell.svg" alt="notifications" /><a
        class="sidebar-text"
        href="#"
        >Notificaciones</a
      >
    </li>
    <li class="mt-2">
      <img class="side-bar-icon" src="img/mail.svg" alt="message" /><a class="sidebar-text" href="#"
        >Mensajes</a
      >
    </li>
    <li class="mt-2">
      <img class="side-bar-icon" src="img/pin.svg" alt="save" /><a class="sidebar-text" href="#"
        >Guardados</a
      >
    </li>
    <li class="mt-2">
      <img class="side-bar-icon" src="img/note.svg" alt="lists" /><a class="sidebar-text" href="#"
        >Listas</a
      >
    </li>
    <li class="mt-2">
      <img class="side-bar-icon" src="img/user.svg" alt="profile" /><a class="sidebar-text" href="#"
        >Perfil</a
      >
    </li>
    <li class="mt-2">
      <img class="side-bar-icon" src="img/more.svg" alt="more" /><a class="sidebar-text" href="#"
        >Más opciones</a
      >
    </li>
    <button
      id="button-tweet"
      class="btn btn-primary rounded-pill mt-3 p-1 sidebar-text w-100"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Twittear
    </button>
  </ul>
</section>
