<section class="container ms-5">
  <ul class="sidebar">
    <li class="mt-2">
      <a class="sidebar-text" href="#">
        <img class="side-bar-icon d-inline" src="img/home.svg" alt="home" />
        <p class="d-none d-lg-inline">Inicio</p></a
      >
    </li>
    <li class="mt-2">
      <a class="sidebar-text" href="#">
        <img class="side-bar-icon d-inline" src="img/glass.svg" alt="search" />
        <p class="d-none d-lg-inline">Explorar</p></a
      >
    </li>
    <li class="mt-2">
      <a class="sidebar-text" href="#"
        ><img class="side-bar-icon d-inline" src="img/bell.svg" alt="notifications" />
        <p class="d-none d-lg-inline">Notificaciones</p></a
      >
    </li>
    <li class="mt-2">
      <a class="sidebar-text" href="#"
        ><img class="side-bar-icon d-inline" src="img/mail.svg" alt="message" />
        <p class="d-none d-lg-inline">Mensajes</p></a
      >
    </li>
    <li class="mt-2">
      <a class="sidebar-text" href="#">
        <img class="side-bar-icon d-inline" src="img/pin.svg" alt="save" />
        <p class="d-none d-lg-inline">Guardados</p></a
      >
    </li>
    <li class="mt-2">
      <a class="sidebar-text" href="#">
        <img class="side-bar-icon d-inline" src="img/note.svg" alt="lists" />
        <p class="d-none d-lg-inline">Listas</p></a
      >
    </li>
    <li class="mt-2">
      <a class="sidebar-text" href="#">
        <img class="side-bar-icon d-inline" src="img/user.svg" alt="profile" />
        <p class="d-none d-lg-inline">Perfil</p></a
      >
    </li>
    <li class="mt-2">
      <a class="sidebar-text" href="#"
        ><img class="side-bar-icon d-inline" src="img/more.svg" alt="more" />
        <p class="d-none d-lg-inline">Más opciones</p>
      </a>
    </li>
    <button
      id="button-tweet"
      class="btn btn-primary rounded-pill mt-3 p-1 sidebar-text w-100 d-none d-lg-inline"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      <span class="d-none d-lg-inline">Twittear</span>
    </button>
  </ul>
</section>
