<section class="">
  <nav class="navbar navbar-expand-lg text-white navbar-light bg-black">
    <div class="form">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control form-input" placeholder="Search anything..." />
      <span class="left-pan"><i class="fa fa-microphone"></i></span>
    </div>
  </nav>
  <div class="friend-suggestions mt-2">
    <h2>You might like</h2>
    <% for (const user of users.slice(0,3)) { %>
    <div class="row">
      <div class="col-2">
        <img
          class="rounded-circle w-25 .ph-friend-suggestions"
          src="/img/<%= user.photoProfile %> "
          alt="Photo Profile"
        />
      </div>
      <div class="col-6">
        <div class="col-12">
          <h4><%= user.firstname %> <%= user.lastname %></h4>
        </div>
        <div class="col-12"><%= user.username %></div>
      </div>
      <div class="col-4">
        <form action="" method="post">
          <button name="foo" value="upvote">Upvote</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</section>
