:root {
  --main-color: #0061f2;
  --bg-hover-soft: rgba(128, 128, 128, 0.185);
  --letter-color: white;
}

.bg-black {
  background-color: black;
}

.bg-img {
  height: 100vh;
  background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
  background-color: aqua;
}

.font-register {
  font-family: "Varela Round", sans-serif;
}

.sidebar {
  list-style: none;
}

.side-bar-icon {
  width: 1rem;
  margin-bottom: 0.2rem;
  margin-right: 1rem;
}

.sidebar-text {
  text-decoration: none;
  color: var(--letter-color);
  /*  font-family: "PT Serif", serif; */
  font-size: 1rem;
}

.sidebar li {
  list-style: none;
  padding: 0.5rem;
}

.sidebar li:hover {
  color: var(--letter-color);
  background-color: rgb(29, 29, 29);
  padding: 0.5rem;
  border-radius: 2rem;
}

.sidebar li a:hover {
  color: var(--letter-color);
}

#button-tweet:hover {
  background-color: rgb(20, 75, 121);
}

.btn-outline-gray {
  color: var(--letter-color);
  border: 1px solid gray;
}

.btn-outline-gray:hover {
  color: var(--letter-color);
  background-color: var(--bg-gray-soft);
}

.position-relative {
  position: relative;
}

.ph-profile {
  border: 0.3rem solid black;
  position: absolute;
  top: -100%;
  left: 1rem;
  box-sizing: border-box;
}

.ph-cover {
  width: 100%;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.height-fit {
  height: fit-content;
}

.info-profile {
  font-size: 0.9rem;
}

.info-follow {
  font-size: 0.9rem;
}

.info-follow span {
  font-weight: bold;
  color: var(--letter-color);
}

.nav-info-profile {
  text-decoration: none;
  padding: 1rem 1.5rem;
}

.nav-info-profile:hover {
  color: var(--letter-color);
  background-color: var(--bg-gray-soft);
}

.w-15 {
  width: 3.2rem;
}

.link-profile-tweet {
  text-decoration: none;
  color: var(--letter-color);
}

.link-profile-tweet:hover {
  color: var(--letter-color);
}

.link-profile-tweet:hover .underline {
  text-decoration: underline;
}

.date-tweet {
  text-decoration: none;
  font-size: 0.9rem;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
