:root {
  --main-color: #0061f2;
}

.bg-black {
  background-color: black;
}

.bg-img {
  background-image: url("../img/home_twitter_arte.png");
  background-color: aqua;
}

.font-register {
  font-family: "Varela Round", sans-serif;
}

.sidebar {
  list-style: none;
}

.side-bar-icon {
  width: 0.8rem;
  margin-bottom: 0.2rem;
  margin-right: 0.3rem;
}

.sidebar-text {
  text-decoration: none;
  color: #e7e7e7;
  /*  font-family: "PT Serif", serif; */
  font-size: 1rem;
}

.sidebar li {
  list-style: none;
  padding: 0.5rem;
  z-index: 10;
}

.sidebar li:hover {
  color: #e7e7e7;
  background-color: rgb(29, 29, 29);
  padding: 0.5rem;
  border-radius: 2rem;
  z-index: 100;
}

.sidebar li a:hover {
  color: white;
}

#button-tweet:hover {
  background-color: rgb(20, 75, 121);
}

.position-relative {
  position: relative;
}

.ph-profile {
  border: 0.3rem solid black;
  position: absolute;
  top: -100%;
  left: 1rem;
  box-sizing: border-box;
}

.ph-cover {
  width: 100%;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.height-fit {
  height: fit-content;
}

.info-profile {
  font-size: 0.9rem;
}
