:root {
  --main-color: #0061f2;
}

.bg-black {
  background-color: black;
}

.bg-img {
  background-image: url("../img/home_twitter_arte.png");
}

.font-register {
  font-family: "Varela Round", sans-serif;
}

.sidebar-text {
  text-decoration: none;
}
